.main-page {
  padding: 2rem;
}

.main-header {
  text-align: center;
  margin-bottom: 2rem;
}

.main-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.loading-message,
.error-message {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5rem;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
