<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lottery.review.ReviewMapper">

    <select id="selectReviewList" resultType="com.lottery.review.ReviewDTO">
        SELECT 
            board_no AS boardNo,
            member_id AS memberId,
            board_title AS boardTitle,
            board_content AS boardContent,
            mv_no AS mvNo,
            reg_date AS regDate
        FROM rvboard
        ORDER BY board_no DESC
    </select>
    
    <insert id="insertReview" parameterType="com.lottery.review.ReviewDTO">
        INSERT INTO rvboard (
            member_id, board_title, board_content, mv_no
        ) VALUES (
            #{memberId}, #{boardTitle}, #{boardContent}, #{mvNo}
        )
    </insert>

    <select id="selectReviewDetail" parameterType="int" resultType="com.lottery.review.ReviewDTO">
        SELECT 
            board_no AS boardNo,
            member_id AS memberId,
            board_title AS boardTitle,
            board_content AS boardContent,
            mv_no AS mvNo,
            reg_date AS regDate
        FROM rvboard
        WHERE board_no = #{boardNo}
    </select>

    <update id="updateReview" parameterType="com.lottery.review.ReviewDTO">
        UPDATE rvboard
        SET board_title = #{boardTitle},
            board_content = #{boardContent}
        WHERE board_no = #{boardNo}
    </update>

    <delete id="deleteReview" parameterType="int">
        DELETE FROM rvboard WHERE board_no = #{boardNo}
    </delete>

</mapper>